#page {
    padding: 0px;
    background-color: white;
    min-height: 500px;
    width: 80%;
    margin: 0px auto;

}
.topheader{
    margin-top: 20px;
}
.top{
    padding:5px 10px;
      margin: 0px;
}


.searchtop{
    
}
.paddingzero{
    padding: 0px;
    margin: 0px;
}
.bg-color{
    background-color: #F1F1F1;
}
.border-line{

  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}


#footer{
    padding: 20px 150px;
   
    background-image: url(../images/footer_bg2.png);
    color: white;
   
}
.footer{
  text-align: center;   
}
#footer a{
    color: #e5e5e5;
    font-size: 12px;
}
.sidetrp{
    padding: 10px;
}

.mywell{
  
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.shadowbox {
    border: 1px solid rgb(204, 204, 204);
    
}
.shadowboxb {
    border-bottom:  1px solid rgb(204, 204, 204);
    
}
.homeimg{
    background: url(../images/home_png_back.png);
}
.middle{
    text-align:  justify;
    padding: 10px 15px;
    
}
.middle img{
    float:left;
}

.nav-tabs {
  border-bottom:  1px solid rgb(204, 204, 204);
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right:20px;
  line-height: 20px;
  border: 1px solid transparent;
 
  border: 1px solid rgb(204, 204, 204); 
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

#accordion2 .accordion-group .accordion-heading{
    background-color: #232D65;
    color:white;
    
    
}
#accordion2 .accordion-group .accordion-heading a{
    color:white;
}

.topads{
    
}
.topads1{
    
}
.topads2{
    
}
.crumbs{
    
}
.mainCnt{
    
}  
.topadsmobile{
    display: none;

}
.topfortab{
    display: none;
}
.footertop{
    
}
.homeads{
    
}
.homeimg{
    min-height:120px;
    padding:10px; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; 
    border-radius: 4px;
    background-color:white;
}
.signup{
    padding: 50px 20px;
}
.socials{
    
}
.indexads{
    
}
.indexlist{
    display: none;
}
    
/** older phones */
  @media screen and (max-width: 320px){
    #page {
    padding: 0px;
    background-color: white;
    min-height: 500px;
    width: 95%;
    margin: 0px auto;
    }
    .topheader{
    margin-top: 2px;
    }
    .searchtop{
        display : none;
    }
    .topads{
        display: none;
    }
    .topfortab{
    display: none;
    }
    .topadsmobile{
    display: none;

       }
       .footertop{
           display: none;
       }
       .signup{
    padding: 5px 20px;
      }
      .socials{
          display: none;
      }
      .indexads{
          display:none;
      }
      .indexlist{
    display: block;
        }
        .shadowboxb {
    display: none
    
        }
        #footer{
    padding: 20px 10px;
   
    background-image: url(../images/footer_bg2.png);
    color: white;
   
}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    #page {
    padding: 0px;
    background-color: white;
    min-height: 500px;
    width: 95%;
    margin: 0px auto;
    }
    .topheader{
    margin-top: 2px;
    }
    .searchtop{
        display: none;
    }
        .topadsmobile{
            display:block;
        }
        .topads{
            display: none;
        }
         .topfortab{
    display: none;
    }
    .footertop{
           display: none;
       }
   .signup{
    padding: 5px 20px;
    }
     .socials{
          display: none;
      }
      .indexads{
          display:none;
      }
      .indexlist{
    display: block;
}
           .shadowboxb {
    display: none
    
        }
            #footer{
    padding: 20px 10px;
   
    background-image: url(../images/footer_bg2.png);
    color: white;
   
}
}
@media screen and (min-width: 480px) and (max-width: 767px){
       #page {
    padding: 0px;
    background-color: white;
    min-height: 500px;
    width: 95%;
    margin: 0px auto;
    }
    .topheader{
    margin-top: 2px;
    }
    .searchtop{
    display: none;
    }
    
    .topads{
        display: none;
    }
    .topfortab{
        display: block;
    }
     
    .footertop{
           display: none;
       }
    .signup{
    padding: 5px 20px;
    }
     .socials{
          display: none;
      }
      .indexads{
          display:none;
      }
    .indexlist{
    display: block;
}
 .shadowboxb {
    display: none
    
        }
            #footer{
    padding: 20px 10px;
   
    background-image: url(../images/footer_bg2.png);
    color: white;
   
}
} 
/**  tablet*/
@media screen and (min-width: 768px) and (max-width: 1079px){
       #page {
    padding: 0px;
    background-color: white;
    min-height: 500px;
    width: 95%;
    margin: 0px auto;
    }
    .topheader{
    margin-top: 2px;
    }
    .searchtop{
        display: none; 
    }
   
     .topfortab{
        display: block;
    }
    .topads{
        display: none;
    
    }
     .indexlist{
    display: none;
}

 .shadowboxb {
    border-bottom:  1px solid rgb(204, 204, 204);
    
}
    
 
    
} 
