/**
 * Default look uses Yii's default gridview look, and mimics that look for
 * the listview
 */

.list-view {}

.list-view div.preheader {
    color:white;
    background: #232D65;
    border:1px solid white;
    text-align: center;
    border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.list-view div.preheaderinner {padding:0.3em;}

.list-view div.post {
    margin-bottom:10px;
}

.list-view div.post div {
    padding:5px;
    border:1px solid white;
}
.list-view div.post div.header {
    background: #232D65;
}

.list-view div.post div.content {
    background: #F8F8F8;
    padding:10px !important;
}
.list-view div.footer {
    text-align:right;
}
.forumHeader{
    padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top: 1px solid #dddddd;
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
  border:#dddddd solid 1px;
}